body{
  background-color: #e74c3c;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
    color: #191919;
    text-align: center;
}

.wrapper{
  width: 60%;
  margin: 0 auto;
  background-color: #ecf0f1;
  padding: 2em;
  border-radius: 5%;

}

input {
    margin: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}
